Source: imx-settings
Priority: optional
Maintainer: Matt Sealey <matt@genesi-usa.com>
Uploaders: Steev Klimaszewski <steev@genesi-usa.com>, William Schaub <william.schaub@genesi-usa.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1

Package: imx-sysctl-rules
Section: admin
Priority: optional
Architecture: armel armhf
Depends: procps
Description: sysctl rules for improved performance on Freescale i.MX processors

Package: imx-udev-rules
Section: admin
Priority: optional
Architecture: armel armhf
Depends: udev (>= 162-2.2)
Description: udev rules for devices on Freescale i.MX processors

Package: imx-pulseaudio-config
Section: admin
Priority: optional
Architecture: armel armhf
Depends: pulseaudio
Description: Settings and configuration for PulseAudio on Genesi Efika MX platforms

Package: imx-powermanagement-config
Section: admin
Priority: optional
Architecture: armel armhf
Description: Settings for improved power management on Genesi Efika MX platforms

Package: imx-boot-scripts
Section: admin
Priority: optional
Architecture: armel armhf
Depends: prep-kernel
Recommends: imx-pulseaudio-config imx-udev-rules imx-sysctl-rules imx-powermanagement-config
Description: Settings and boot scripts for improved performance on Genesi Efika MX platforms
