#!/usr/bin/make -f
%:
	dh $@

override_dh_installinit:
	dh_installinit -pimx-boot-scripts --name=efikamx
	dh_installinit -pimx-boot-scripts --name=clock-up
	dh_installinit -pimx-boot-scripts --name=clock-down
	dh_installinit -pimx-boot-scripts --name=ubiattach
